<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Activities Logs

    <a data-toggle="collapse" href="#activity_type_activities_logs_new_form">
      Add activities log
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @activity_type.activities_logs.each do |activities_log| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to activities_log, activities_log %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to activities_log, method: :delete, data: { confirm: "Do you really want to delete this activities_log" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="activity_type_activities_logs_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
